<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore>
    <controlSources>
      <source mode="on" namespace="GMAutocompleteCustomSitecoreField.Components.CustomFieldTypes" assembly="GMAutocompleteCustomSitecoreField" prefix="customfieldtypes" />
    </controlSources>
    <pipelines>
      <renderContentEditor>
        <processor patch:before="*[1]" type="GMAutocompleteCustomSitecoreField.Pipelines.ContentEditorInjectResources, GMAutocompleteCustomSitecoreField">
          <styles hint="list:AddStyleResource">
          </styles>
          <scripts hint="list:AddScriptResource">
            <resource>/sitecore/shell/Controls/CustomFieldType/autocompleteaddress.js</resource>
            <resource>//maps.googleapis.com/maps/api/js?key=keytoreplace&amp;libraries=places</resource>
          </scripts>
        </processor>
      </renderContentEditor>
    </pipelines>
  </sitecore>
</configuration>